Checks: 'clang-analyzer-*,concurrency-*,modernize-*,performance-*,portability-*,readability-*,-modernize-use-trailing-return-type,-readability-magic-numbers'
HeaderFilterRegex: 'baudvine/ringbuf|/test/'
